@import "tailwindcss";

body {
    background: #fcfeff !important;
}

@layer utilities {
    .animation-delay-500 {
        animation-delay: 500ms;
    }

    @keyframes float {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
    }

    .animate-float {
        animation: float 5s ease-in-out infinite;
    }
}